h1{
    text-align: center;
    font-size: xx-large;
}

button{
    background-color: blue;
    color: white;
    padding: 25px;
    display:block;
    margin: 0 auto;
    border-radius: 10px;;

}

button:hover{
    background-color: cornflowerblue;
}